html {
    background-color: aqua;
    color: brown;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
.siteheader {
  text-align: center;
  font-size: large;
  background-image: url("../img/header.jpg");
  background-size: cover;
  height: 150px;
}
.sitefooter {
  display: flex;
  justify-content: space-around;
}