{% extends "base.html.twig" %}

{% block title %}Deck{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<p>Drawn: {{ drawn }} </p>
<p>Left in deck: {{ numDraws }} </p>
<p>Left in deck: {{ test }} </p>

{% endblock %}
