{% extends "base.html.twig"%}

{% block title %}About{% endblock %}


{% block content %}
<h1>About</h1>


<p class="important">
Denna sida är gjord för kursen Objektorienterade webbteknologier (MVC) på Blekinge Tekniska Högskola. 
Det är främst fokus på PHP där vi ska lära oss jobba med OO tillsammans med webbaserat ramverk, databaser och enhetstestning.
</p>
<p><a href="https://github.com/dbwebb-se/mvc/tree/main/example/symfony">Kursens github</a></p>

<img src="img/header.jpg" width="100%" height="200px" alt="forest">


{% endblock %}