{% extends "base.html.twig"%}

{% block title %}Home{% endblock %}


{% block content %}
<h1>Home</h1>


<p class="important">
V채lkommen till den glada v채rml채nningens sida. Jobbar som l채rare till vardags. Hoppas bli en visare programmare efter denna kursen.

</p>
<img src="img/andreas.jpg" width="300px" alt="aw">

{% endblock %}